.col {
  padding-right: 0; }

.flex-column {
  width: 100%; }

.nav-link > .active {
  padding-right: 0; }

#err {
  display: none;
  border-radius: 30px;
  border: solid 1px red; }

.nav-tabs .nav-link {
  width: 100%;
  border-right-color: #dee2e6; }

.nav-tabs .nav-link.active {
  border-color: #dee2e6 #fff #dee2e6 #dee2e6; }
